# Extensions
*.xlsx
*.log
*.csv
*.tsv
*.pdf
*.json
*.txt
*.pyc
*.png
*.jpg
*.zip
*.download
*.jpg
*.gif
.ipynb_checkpoints
# Files
.vscode
.venv
.env
__pycache__
Libraries/Pandas/Jupyter Testing and config.ipynb
Libraries/Django/CoreySchafer_tutorial/.Sources
Modules/bs4_module(Beautiful Soup)/CoreyMS - Development, Design, DIY, and more_files/
__pycache__/
Modules/PIL_module/Images
.offline_videos
Pipfile
Pipfile.lock
.env
# Exceptions
!requirements.txt
!pipenv_module.txt
!venv_module.txt
