# Extensions
*.xlsx
*.log
*.csv
*.tsv
*.pdf
*.json
*.html
*.css
*.txt
*.pyc
*.png
*.jpg
*.zip
*.download
*.jpg
*.gif
.ipynb_checkpoints
# Files
.vscode
Libraries/Pandas/Jupyter Testing and config.ipynb 
Modules/bs4_module(Beautiful Soup)/CoreyMS - Development, Design, DIY, and more_files/
Modules\Unittest_module\__pycache__
.venv
Pipfile
Pipfile.lock
Modules/PIL_module/Images